/** Chloropleth for percent canopy.  Quantile with 7 categories for blocks */

#utc_summarized_all
[zoom < 16] [zoom > 14]
{
  line-color: #FFF;
  line-opacity: 1;
  line-width: 1;
  polygon-opacity: 0.8;
}

// City/SPA color breakdown with zoom limits

#utc_summarized_all [ percent_canopy <= 77.8453624973071 ] [zoom < 16] [zoom > 14] {
   polygon-fill: #005824;
}
#utc_summarized_all [ percent_canopy <= 47.548148744051] [zoom < 15] [zoom > 14] {
   polygon-fill: #238B45;
}
#utc_summarized_all [ percent_canopy <= 40.1953650306495] [zoom < 16] [zoom > 14] {
   polygon-fill: #41AE76;
}
#utc_summarized_all [ percent_canopy <= 30.482525449494] [zoom < 16] [zoom > 14] {
   polygon-fill: #66C2A4;
}
#utc_summarized_all [ percent_canopy <= 24.3489773245938] [zoom < 16] [zoom > 14] {
   polygon-fill: #CCECE6;
}
#utc_summarized_all [ percent_canopy <= 21.2173996429018] [zoom < 16] [zoom > 14] {
   polygon-fill: #D7FAF4;
}
#utc_summarized_all [ percent_canopy <= 18.0473166617331] [zoom < 16] [zoom > 14] {
   polygon-fill: #EDF8FB;
}

// Now have everything disappear at zoom 16
#utc_summarized_all
[zoom >= 13]
{
  line-color: #FFF;
  line-opacity: 0;
  line-width: 0;
  polygon-opacity: 0;
}
