/** Chloropleth for percent canopy.  Quantile with 7 categories for blocks */

#blocks
[zoom < 16] [zoom >= 14]
{
  line-color: #FFF;
  line-opacity: 1;
  line-width: 1;
  polygon-opacity: 0.8;
}

// Display Tract labels between zoom 10 and 13

#blocks::labels
[zoom = 15]
{
  text-name: [name];
  text-halo-fill: #FFF;
  text-halo-radius: 0;
  text-face-name: 'DejaVu Sans Book';
  text-size: 12;
  text-allow-overlap: false;
  text-fill: #555;
  text-comp-op: difference;  
}

// Block color breakdown with zoom limits

#blocks [ percent_canopy <= 1.00 ] [zoom >= 14] [zoom < 16] {
   polygon-fill: #1E6823;
}
#blocks [ percent_canopy <= 0.433471891 ] [zoom >= 14] [zoom < 16] {
   polygon-fill: #44A340;
}
#blocks [ percent_canopy <= 0.3300124778 ] [zoom >= 14] [zoom < 16] {
   polygon-fill: #8CC665;
}
#blocks [ percent_canopy <= 0.2403415037 ] [zoom >= 14] [zoom < 16] {
   polygon-fill: #D6E685;
}
#blocks [ percent_canopy <= 0.1925558837 ] [zoom >= 14] [zoom < 16] {
   polygon-fill: #EEEEEE;
}
