/** Chloropleth for percent canopy.  Quantile with 5 categories for
Municipalities/SPAs */

#city_spa
[zoom < 13] [zoom > 11]
{
  line-color: #000;
  line-opacity: 1;
  line-width: 1;
  polygon-opacity: 0.8;
}

// Display City labels

#city_spa::labels
[zoom = 12]
{
  text-name: [name];
  text-halo-fill: #ccc;
  text-halo-radius: 1;
  text-face-name: 'DejaVu Sans Book';
  text-size: 12;
  text-allow-overlap: true;
  text-fill: #555;
  text-comp-op: multiply;  
}


#city_spa::labels
[zoom = 13]
{
  text-name: [name];
  text-halo-fill: #ccc;
  text-halo-radius: 1;
  text-face-name: 'DejaVu Sans Book';
  text-size: 18;
  text-allow-overlap: true;
  text-fill: #555;
  text-comp-op: multiply;  
}

#city_spa::labels
[zoom = 14]
{
  text-name: [name];
  text-halo-fill: #ccc;
  text-halo-radius: 1;
  text-face-name: 'DejaVu Sans Book';
  text-size: 36;
  text-allow-overlap: true;
  text-fill: #555;
  text-comp-op: multiply;  
}

// City/SPA color breakdown with zoom limits

#city_spa [ percent_canopy <= 1.00 ] [zoom < 13] [zoom > 11] {
   polygon-fill: #1E6823;
}
#city_spa [ percent_canopy <= 0.3862645982 ] [zoom < 13] [zoom > 11] {
   polygon-fill: #44A340;
}
#city_spa [ percent_canopy <= 0.2730982715 ] [zoom < 13] [zoom > 11] {
   polygon-fill: #8CC665;
}
#city_spa [ percent_canopy <= 0.195260274] [zoom < 13] [zoom > 11] {
   polygon-fill: #D6E685;
}
#city_spa [ percent_canopy <= 0.1152966902
] [zoom < 13] [zoom > 11] {
   polygon-fill: #EEEEEE;
}

// Now have everything but lines disappear at zoom 13
#city_spa
[zoom = 13]
{
  line-color: #000;
  line-opacity: 1;
  line-width: 2;
  polygon-opacity: 0;
}

#city_spa
[zoom >= 14]
{
  line-color: #000;
  line-opacity: 1;
  line-width: 3;
  polygon-opacity: 0;
}
