/** Chloropleth for percent canopy.  Quantile with 5 categories for
Municipalities/SPAs */

#utc_summarized_all
[zoom < 13] [zoom > 11]
{
  line-color: #000;
  line-opacity: 1;
  line-width: 1;
  polygon-opacity: 0.8;
}

// Display City labels

#utc_summarized_all::labels
[zoom = 12]
{
  text-name: [name];
  text-halo-fill: #ccc;
  text-halo-radius: 1;
  text-face-name: 'DejaVu Sans Book';
  text-size: 12;
  text-allow-overlap: true;
  text-fill: #555;
  text-comp-op: multiply;  
}


#utc_summarized_all::labels
[zoom = 13]
{
  text-name: [name];
  text-halo-fill: #ccc;
  text-halo-radius: 1;
  text-face-name: 'DejaVu Sans Book';
  text-size: 18;
  text-allow-overlap: true;
  text-fill: #555;
  text-comp-op: multiply;  
}

#utc_summarized_all::labels
[zoom = 14]
{
  text-name: [name];
  text-halo-fill: #ccc;
  text-halo-radius: 1;
  text-face-name: 'DejaVu Sans Book';
  text-size: 36;
  text-allow-overlap: true;
  text-fill: #555;
  text-comp-op: multiply;  
}

// City/SPA color breakdown with zoom limits

#utc_summarized_all [ percent_canopy <= 100 ] [zoom < 13] [zoom > 11] {
   polygon-fill: #1E6823;
}
#utc_summarized_all [ percent_canopy <= 38.62645982 ] [zoom < 13] [zoom > 11] {
   polygon-fill: #44A340;
}
#utc_summarized_all [ percent_canopy <= 27.30982715 ] [zoom < 13] [zoom > 11] {
   polygon-fill: #8CC665;
}
#utc_summarized_all [ percent_canopy <= 19.5260274] [zoom < 13] [zoom > 11] {
   polygon-fill: #D6E685;
}
#utc_summarized_all [ percent_canopy <= 11.52966902
] [zoom < 13] [zoom > 11] {
   polygon-fill: #EEEEEE;
}

// Now have everything but lines disappear at zoom 13
#utc_summarized_all
[zoom = 13]
{
  line-color: #000;
  line-opacity: 1;
  line-width: 2;
  polygon-opacity: 0;
}

#utc_summarized_all
[zoom >= 14]
{
  line-color: #000;
  line-opacity: 1;
  line-width: 3;
  polygon-opacity: 0;
}
