Map {
  background-color: #b8dee6;
}

#countries {
  ::outline {
    line-color: #85c5d3;
    line-width: 2;
    line-join: round;
  }
  polygon-fill: #fff;
}

#parcel [zoom > 15]
{
  line-color: #000;
  line-opacity: 1;
  line-width: 1;
  line-dasharray: 1, 4, 2;
  polygon-opacity: 0;
}

// Parcel color breakdown with zoom limits

#parcel [ ExTCPctAll <= 1.00 ][zoom = 16] {
   polygon-fill: #1E6823;
   polygon-opacity: 0.5;
}
#parcel [ ExTCPctAll <= 0.433471891 ][zoom = 16] {
   polygon-fill: #44A340;
   polygon-opacity: 0.5;
}
#parcel [ ExTCPctAll <= 0.3300124778 ][zoom = 16] {
   polygon-fill: #8CC665;
   polygon-opacity: 0.5;
}
#parcel [ ExTCPctAll <= 0.2403415037 ][zoom = 16] {
   polygon-fill: #D6E685;
   polygon-opacity: 0.5;
}
#parcel [ ExTCPctAll <= 0.1925558837 ][zoom = 16] {
   polygon-fill: #EEEEEE;
   polygon-opacity: 0.5;
}

#utc [zoom > 16] {
  raster-opacity:1;
}
