/** Chloropleth for percent canopy.  Quantile with 7 categories for Tracts */

#utc_summarized_all
[zoom < 14] [zoom > 12]
{
  line-color: #FFF;
  line-opacity: 1;
  line-width: 1;
  polygon-opacity: 1;
}

// Display Tract labels between zoom 10 and 13
/*
#utc_summarized_all::labels
[zoom = 14]
{
  text-name: [name];
  text-halo-fill: #FFF;
  text-halo-radius: 1;
  text-face-name: 'DejaVu Sans Book';
  text-size: 12;
  text-allow-overlap: false;
  text-fill: #000;
}
*/

// Tract color breakdown with zoom limits

#utc_summarized_all [ percent_canopy <= 100 ] [zoom < 14] [zoom > 12] {
   polygon-fill: #1E6823;
}
#utc_summarized_all [ percent_canopy <= 43.3471891 ] [zoom < 14] [zoom > 12] {
   polygon-fill: #44A340;
}
#utc_summarized_all [ percent_canopy <= 33.00124778 ] [zoom < 14] [zoom > 12] {
   polygon-fill: #8CC665;
}
#utc_summarized_all [ percent_canopy <= 24.03415037 ] [zoom < 14] [zoom > 12] {
   polygon-fill: #D6E685;
}
#utc_summarized_all [ percent_canopy <= 19.25558837 ] [zoom < 14] [zoom > 12] {
   polygon-fill: #EEEEEE;
}

// Now have everything disappear at zoom 13
#utc_summarized_all
[zoom >= 13]
{
  line-color: #FFF;
  line-opacity: 0;
  line-width: 0;
  polygon-opacity: 0;
}
