/** Chloropleth for percent canopy.  Quantile with 7 categories */

#tracts
[zoom < 14] [zoom > 12]
{
  line-color: #555;
  line-opacity: 1;
  line-width: 1;
  polygon-opacity: 0.8;
}

// Display Tract labels between zoom 10 and 13

#tracts::labels
[zoom < 15] [zoom > 13] 
{
  text-name: [name];
  text-halo-fill: #FFF;
  text-halo-radius: 0;
  text-face-name: 'DejaVu Sans Book';
  text-size: 12;
  text-allow-overlap: false;
  text-fill: #555;
  text-comp-op: difference;  
}


// Tract color breakdown with zoom limits

#tracts [ percent_canopy <= 1.00 ] [zoom < 14] [zoom > 12] {
   polygon-fill: #1E6823;
}
#tracts [ percent_canopy <= .433471891 ] [zoom < 14] [zoom > 12] {
   polygon-fill: #44A340;
}
#tracts [ percent_canopy <= .3300124778 ] [zoom < 14] [zoom > 12] {
   polygon-fill: #8CC665;
}
#tracts [ percent_canopy <= .2403415037 ] [zoom < 14] [zoom > 12] {
   polygon-fill: #D6E685;
}
#tracts [ percent_canopy <= .1925558837 ] [zoom < 14] [zoom > 12] {
   polygon-fill: #EEEEEE;
}

// Now have everything disappear at zoom 13
#tracts
[zoom >= 13]
{
  line-color: #222;
  line-opacity: 1;
  line-width: 1;
  polygon-opacity: 0;
}
