/** Chloropleth for percent canopy.  Quantile with 5 categories for
Watersheds */

#utc_watersheds
[zoom < 12] [zoom > 9]
{
  line-color: #221d68;
  line-opacity: 0.8;
  line-width: 2;
  line-dasharray: 10,10;
  polygon-opacity: 0.8;
}

// Watershed breakdown with zoom limits

#utc_watersheds [ percent_canopy <= 1 ] [zoom < 12] [zoom > 9] {
   polygon-fill: #1E6823;
}
#utc_watersheds [ percent_canopy <= 0.3862645982 ] [zoom < 12] [zoom > 9] {
   polygon-fill: #44A340;
}
#utc_watersheds [ percent_canopy <= 0.2730982715 ] [zoom < 12] [zoom > 9] {
   polygon-fill: #8CC665;
}
#utc_watersheds [ percent_canopy <= 0.195260274] [zoom < 12] [zoom > 9] {
   polygon-fill: #D6E685;
}
#utc_watersheds [ percent_canopy <= 0.1152966902
] [zoom < 12] [zoom > 9] {
   polygon-fill: #EEEEEE;
}
